<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui.html">
<head>
<title>Nuevo Alumno</title>
</head>

<!--begin::Body-->
<body>
	<div layout:fragment="contenidopaginas">

		<div class="card card-info card-outline mb-4">
			<!--begin::Header-->
			<div class="card-header">
				<div class="card-title">INGRESAR NUEVO ALUMNO</div>
			</div>
			<!--end::Header-->

			<!--begin::Form-->
			<form th:action="@{/alumnos}" th:Object="${modelAlumno}"
				method="post">
				<!--begin::Body-->
				<div class="card-body">
					<!--begin::Row-->
					<div class="row g-3">

						<!-- Nombres (ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom01" class="form-label">Nombres:</label>
							<input type="text" class="form-control" id="txtnombrealumno"
								th:field="*{alu_nombre}" />
						</div>

						<!-- Apellidos (ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Apellidos:</label>
							<input type="text" class="form-control" id="txtapellidoalumno"
								th:field="*{alu_apellido}" />
						</div>

						<!-- cedeula (ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Cedula:</label>
							<input type="text" class="form-control" id="txtcedeulaalumno"
								th:field="*{alu_cedula}" />
						</div>

						<!--  email(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Email:</label>
							<input type="email" class="form-control" id="txtemailalumno"
								th:field="*{alu_email}" placeholder="correo@ejemplo.com" />
						</div>

						<!--  direccion(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Domicilio:</label>
							<input type="text" class="form-control" id="txtdireccionalumno"
								th:field="*{alu_direccion}" />
						</div>

						<!--  telefono(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Teléfono:</label>
							<input type="text" class="form-control" id="txttelefonolumno"
								th:field="*{alu_telefono}" />
						</div>


						<!--  nacimiento(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Fecha
								de Nacimiento:</label> <input type="date" class="form-control"
								id="txtnacimientolumno" th:field="*{alu_fecha_nacimiento}" />
						</div>

						<!--  ingreso(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Fecha
								de Ingreso:</label> <input type="date" class="form-control"
								id="txtnacimientolumno" th:field="*{alu_fecha_ingreso}" />
						</div>




						<!--  nombre representante(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Nombre
								de Representante:</label> <input type="text" class="form-control"
								id="txtnacimientolumno" th:field="*{alu_nombre_representante}" />
						</div>

						<!--  telefono representante(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Telefono
								de Representante:</label> <input type="text" class="form-control"
								id="txtnacimientolumno" th:field="*{alu_telefono_representante}" />
						</div>


						<!--  nombre representante(ejemplo) -->




						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">cinturon
								2 de:</label> <input type="text" class="form-control"
								id="txtcinturonalumno" th:field="*{alu_cinturon_actual}" />
						</div>

						<!--  (ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">cinturon
								1 :</label> <input type="text" class="form-control"
								id="txtcinturoninlumno" th:field="*{alu_cinturon_ingreso}" />
						</div>

						<div class="col-md-6 form-check mt-4">
							<input type="checkbox" class="form-check-input" id="estado"
								name="alu_estado" value="A"> <label
								class="form-check-label" for="estado"> Activo </label>
						</div>

						<!--  nacimiento(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Fecha
								de Nacimiento:</label> <input type="date" class="form-control"
								id="txtnacimientolumno" th:field="*{alu_fecha_modificacion}" />
						</div>

						<!--  ingreso(ejemplo) -->
						<div class="col-md-6">
							<label for="validationCustom02" class="form-label">Fecha
								de Ingreso:</label> <input type="date" class="form-control"
								id="txtnacimientolumno" th:field="*{alu_fecha_creacion}" />
						</div>

						<div class="col-md-6 form-check mt-4">
							<input type="checkbox" class="form-check-input" id="alertaPago"
								th:field="*{alu_alerta_pago}"> <label
								class="form-check-label" for="alertaPago"> Alerta de
								pago </label>
						</div>

					</div>
					<!--end::Row-->
				</div>
				<!--end::Body-->

				<!--begin::Footer-->
				<div class="card-footer">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
				<!--end::Footer-->
			</form>
			<!--end::Form-->

			<!--begin::JavaScript-->
			<script>
          (() => {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.from(forms).forEach((form) => {
              form.addEventListener('submit', (event) => {
                if (!form.checkValidity()) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          })();
        </script>
			<!--end::JavaScript-->

		</div>
	</div>
</body>
<!--end::Body-->
</html>
